@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html {
  color-scheme: dark;
}

body {
  @apply bg-[#070B14] text-white;
  font-feature-settings: "rlig" 1, "calt" 1, "tnum" 1;
}

a {
  @apply text-teal-300;
}

button {
  @apply outline-none transition-all;
}

html {
  scroll-behavior: smooth;
}

.bg-orbit {
  background: #070B14;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-[#070B14];
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}
